.DS_Store
Library
Libraries
Temp
*.apk
*.csproj
*.pidb
*.unityproj
*.userprefs
*.pdb
*.suo
*.ipch
*.log
*.tlog
*.obj
*.res
*.idb
*.sdf
*.opensdf
*.ilk
*.exp
*.sdf
*.pch
*.sdf
*.sdf
*.sdf
*.sdf
!BrainpackService/BrainpackService/BrainpackService.csproj
!BrainpackService/*
!HeddokoLib/HeddokoLib/HeddokoLib.csproj
!CalibrationLib/Calibration1/Calibration1/Calibration1.csproj
!CalibrationLib/Calibration1/CalibrationTest/CalibrationTest.csproj